/* Styling in order to see boxes! */

/* [class^=container] {
    border: 1px solid salmon;
}

[class^=row] {
    border: 1px solid pink;
}

[class^=col] {
    border: 1px solid teal;
} */

/* Styling common components */

.btn {
    border-radius: 5px;
}

#my-new-btn {
    display: inline-block;
    background-color: rgb(0,215,210);
    border-color: transparent;
    color: rgb(3,27,78);
    box-shadow: none;
    text-transform: uppercase;
}

#my-new-btn:hover {
    cursor: default;
}

#my-sign-btn {
    display: inline-block;
    background-color: transparent;
    border-color: rgb(0,105,255);
    color: rgb(0,105,255);
    box-shadow: none;
    text-transform: uppercase;
}

#my-sign-btn:hover {
    background-color: rgb(0,105,255);
    border-color: rgb(0,105,255);
    color: white;
}

.my-blue-text {
    color: rgb(0,105,255);
}

.my-link {
    text-decoration: none;
}

.my-link:hover {
    text-decoration: none;
}

.my-hover-link:hover {
    text-decoration: none;
    color: rgb(22,117,255);
}

.my-grey-text {
    color: rgb(91,105,135);
    font-weight: bold;
}

.my-grey-text:hover {
    color: rgb(91,105,135);
    font-weight: bold;
    text-decoration: none;
}

.my-white-text {
    color: white;
    text-decoration: none;
}

.my-white-text:hover {
    color: white;
    text-decoration: none;
}


/* Styling scrolling navbar */

nav {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav .row:first-of-type [class^=col] {
    height: 40px;
    line-height: 40px;
}

nav .row:last-of-type [class^=col] {
    height: 60px;
    line-height: 60px;
}

nav img {
    height: 50px;
}

nav .row:last-of-type li:first-of-type span {
    font-size: 150%;
    font-weight: bolder;
    margin-right: 30px;
}

nav .row:last-of-type li {
    margin-right: 15px;
}

nav .row {
    border-bottom: 1px solid rgb(229,232,237);
}

nav .fa-bars {
    color: rgb(129,164,255);
    font-size: 30px;
    line-height: 60px;
    display: none;
}

@media screen and (max-width: 1049px) {

    nav {
        background-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    nav .row {
        border: transparent;
    }

    nav .my-blue-text {
        color: white;
    }

    nav img {
        border-radius: 50%;
        margin-right: 10px;
    }

    nav .row:first-of-type {
        display: none;
    }

    nav .row:last-of-type li:first-of-type {
        display: inline-block;
    }

    nav .row:last-of-type li:not(:first-of-type), nav #my-sign-btn {
        display: none;
    }

    nav .fa-bars {
        display: inline-block;
    }

}

@media screen and (max-width: 480px) {

    #my-logo {
        font-size: smaller;
    }

}


/* Styling jumbo */

#jumbo {
    background: url(https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    min-height: 800px;
    margin-top: 100px;
    padding: 40px 0;
}

#my-green-btn {
    background-color: rgb(0,180,123);
    padding: 10px;
    width: 100%;
}

#my-green-btn br {
    display: none;
}

@media screen and (max-width: 1049px) {

    #jumbo {
        margin-top: 0;
        padding-top: 100px;
    }

}

@media screen and (max-width: 600px) {

    #my-green-btn br {
        display: inline-block;
    }

}
