/* Styling in order to see boxes! */

/* [class^=container] {
    border: 1px solid salmon;
}

[class^=row] {
    border: 1px solid pink;
}

[class^=col] {
    border: 1px solid teal;
} */

/* Styling common components */

.btn {
    border-radius: 5px;
}

#my-new-btn {
    display: inline-block;
    background-color: rgb(0,215,210);
    border-color: transparent;
    color: rgb(3,27,78);
    box-shadow: none;
    text-transform: uppercase;
}

#my-new-btn:hover {
    cursor: default;
}

#my-sign-btn {
    display: inline-block;
    background-color: transparent;
    border-color: rgb(0,105,255);
    color: rgb(0,105,255);
    box-shadow: none;
    text-transform: uppercase;
}

#my-sign-btn:hover {
    background-color: rgb(0,105,255);
    border-color: rgb(0,105,255);
    color: white;
}

#my-create-btn {
    display: inline-block;
    width: 100%;
    background-color: rgb(0,105,255);
    border-color: rgb(0,105,255);
    color: white;
    box-shadow: none;
    font-weight: bolder;
}

#my-create-btn:hover {
    background-color: rgb(22,51,255);
    border-color: rgb(22,51,255);
    color: white;
}

.my-link {
    text-decoration: none;
}

.my-link:hover {
    text-decoration: none;
}

.my-hover-link:hover {
    text-decoration: none;
    color: rgb(22,117,255);
}

a.my-silver-link{
    color: rgb(164,173,193);
    text-decoration: none;
    font-weight: bold;
}

a.my-silver-link:hover{
    color: rgb(91,105,135);
    text-decoration: none;
    font-weight: bold;
}

.my-blue-text {
    color: rgb(0,105,255);
}

.my-blue-text:hover {
    color: rgb(0,105,255);
}

.my-grey-text {
    color: rgb(91,105,135);
    font-weight: bold;
}

.my-grey-text:hover {
    color: rgb(91,105,135);
    font-weight: bold;
    text-decoration: none;
}

.my-silver-text {
    color: rgb(164,173,193);
}

.my-silver-text:hover {
    color: rgb(164,173,193);
}

.my-white-text {
    color: white;
    text-decoration: none;
}

.my-white-text:hover {
    color: white;
    text-decoration: none;
}

.my-dark-blue-text {
    color: rgb(3,27,78);
    text-decoration: none;
}

.my-dark-blue-text:hover {
    color: rgb(3,27,78);
    text-decoration: none;
}

.my-azure-text {
    color: rgb(204,218,255);
    text-decoration: none;
}

.my-azure-text:hover {
    color: rgb(204,218,255);
    text-decoration: none;
}

.my-float-left {
    float: left;
}

.my-float-right {
    float: right;
}

.my-underline {
    text-decoration: underline;
}

.my-no-underline-hover:hover {
    text-decoration: none;
}

[class^="my-circle-"] {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid rgb(0,105,255);
    border-radius: 50%;
    margin: 0 5px;
}

.my-circle-full {
    background-color: rgb(0,105,255);
}

.my-circle-empty {
    background-color: transparent;
}

.my-circle-empty:hover {
    background-color: rgba(0,105,255,0.3);
}

/* Styling scrolling navbar */

nav {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

nav .row:first-of-type [class^=col] {
    height: 40px;
    line-height: 40px;
}

nav .row:last-of-type [class^=col] {
    height: 60px;
    line-height: 60px;
}

nav img {
    height: 50px;
}

nav .row:last-of-type li:first-of-type span {
    font-size: 150%;
    font-weight: bolder;
    margin-right: 30px;
}

nav .row:last-of-type li {
    margin-right: 15px;
}

nav .row {
    border-bottom: 1px solid rgb(229,232,237);
}

nav .fa-bars {
    color: rgb(129,164,255);
    font-size: 30px;
    line-height: 60px;
    display: none;
}

@media screen and (max-width: 1049px) {

    nav {
        background-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    nav .row {
        border: transparent;
    }

    nav .my-blue-text {
        color: white;
    }

    nav img {
        border-radius: 50%;
        margin-right: 10px;
    }

    nav .row:first-of-type {
        display: none;
    }

    nav .row:last-of-type li:first-of-type {
        display: inline-block;
    }

    nav .row:last-of-type li:not(:first-of-type), nav #my-sign-btn {
        display: none;
    }

    nav .fa-bars {
        display: inline-block;
    }

}

@media screen and (max-width: 480px) {

    #my-logo {
        font-size: smaller;
    }

}

/* Styling jumbo */

#jumbo {
    background: url(https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    min-height: 750px;
    margin-top: 100px;
    padding: 40px 0;
}

#jumbo .row:not(:first-of-type) {
    margin-top: 40px;
}

#my-green-btn {
    background-color: rgb(0,180,123);
    padding: 10px;
    width: 100%;
}

#my-green-btn br {
    display: none;
}

#jumbo #jumbo-left {
    position: relative;
    transform: translateY(25%);
}

#jumbo #jumbo-left h1 {
    font-size: 60px;
    font-weight: bolder;
}

#jumbo #jumbo-left h2 {
    line-height: 1.25;
}

#jumbo form {
    background-color: white;
    border-radius: 5px;
    padding: 15px 30px;
}

#jumbo form h2 {
    padding: 20px 0 10px;
}

#jumbo form input {
    margin: 15px 0;
}

#jumbo form input, #jumbo form a {
    height: 48px;
}

#jumbo form a {
    line-height: 35px;
}

.my-row-deco {
    margin: 15px 0;
}

.my-row-deco * {
    display: inline-block;
}

.my-row-deco p {
    color: rgb(101,114,135);
}

.my-row-deco-row {
    position: relative;
    width: 30%;
    border-bottom: 1px solid rgb(229,232,237);
    bottom: 4px;
}

.my-profile-btn {
    display: block;
    width: 45%;
    background-color: rgb(242,248,255);
    border-color: rgb(194,220,255);
    color: rgb(3,27,78);
    box-shadow: none;
    font-weight: bolder;
}

.my-profile-btn:hover {
    background-color: rgb(213,228,247);
}

#jumbo small {
    display: inline-block;
    margin: 15px 0;
}

@media screen and (max-width: 1049px) {

    #jumbo {
        margin-top: 0;
        padding-top: 100px;
        background-color: rgb(2,72,255);
        height: 100%;
    }

    #jumbo .container {
        width: 100%;
    }

    #jumbo #jumbo-left {
        position: relative;
        transform: translateY(0);
    }

    #jumbo form {
        margin-top: 20px;
    }

}

@media screen and (max-width: 600px) {

    #my-green-btn br {
        display: inline-block;
    }

    .my-row-deco-row {
        width: 15%;
    }
}

/* Styling innovative-businesses */

#innovative-businesses {
    background-color: rgb(243,245,249);
}

#innovative-businesses img {
    height: 65px;
}

#innovative-businesses #splunk {
    height: 35px;
    position: relative;
    top: 18px;
}

#innovative-businesses .row:first-of-type{
    margin: 50px 0 25px;
}

#innovative-businesses .row:last-of-type{
    margin: 25px 0 50px;
}

/* Styling deploy */

#deploy {
    margin-bottom: 50px;
}

#deploy h1 {
    margin: 100px 0 25px;
}

#deploy strong {
    display: inline-block;
    margin-bottom: 50px;
}

#deploy li {
    border-left: 2px solid rgb(204,218,255);
    padding: 15px 30px;
}

#deploy li:first-of-type {
    border-left: 2px solid rgb(0,105,255);
    padding: 15px 30px;
}

#deploy i {
    font-size: 30px;
}

#deploy .deploy-cell {
    margin-bottom: 25px;
}

@media screen and (max-width: 480px) {

    #deploy {
        margin-bottom: 25px;
    }

    #deploy .col-xs-6 {
        width: 100vw;
        float: left;
    }

    #deploy h1 {
        margin: 50px 0 25px;
    }

    #deploy strong {
        margin-bottom: 25px;
    }

    #deploy ul {
        margin-bottom: 25px;
    }

}

/* Styling designed */

#designed {
    background-color: rgb(243,245,249);
}

#designed h1 {
    margin: 100px 0 0;
}

#designed img {
    width: calc((100% / 3) * 2);
    margin: 50px 0 25px;
}

#designed i {
    font-size: 40px;
}

#designed i.fa-angle-left {
    transform: translateX(-200%);
}

#designed i.fa-angle-right {
    transform: translateX(200%);
}

#designed i.my-dark-blue-text:hover {
    color: rgb(22,117,255);
    text-decoration: none;
}

#designed [class^="col"]:last-of-type {
    margin: 25px 0 100px;
}

@media screen and (max-width: 767px) {

    #designed h1 {
        margin-top: 50px;
    }

    #designed img {
        width: 100%;
    }

    #designed i {
        display: none;
    }

    #designed [class^="col"]:last-of-type {
        margin: 25px 0 50px;
    }

}

/* Styling built-business */

#built-business h1 {
    margin: 100px 0 50px;
}

#built-business i:not(.fa-angle-right) {
    font-size: 40px;
}

#built-business .col-lg-3 {
    margin-bottom: 75px;
}

@media screen and (max-width: 480px) {

    #built-business .col-xs-6 {
        width: 100vw;
        float: left;
    }

    #built-business h1 {
        margin: 50px 0 25px;
    }

    #built-business a {
        margin-bottom: 25px;
    }

}

/* Styling service */

.my-cyan-text {
    color: rgb(0,215,202);
    text-decoration: none;
    font-weight: bold;
}

.my-cyan-text:hover {
    color: rgb(0,95,230);
    text-decoration: none;
}

#service {
    background-image: radial-gradient(farthest-corner at 80% 90%, rgb(53,73,113), rgb(3,27,78));
    padding: 80px 0;
}

#service h1 {
    margin-bottom: 25px;
}

#service li {
    padding: 5px 0;
}

#service li:not(:last-child) {
    border-bottom: 1px solid rgba(204,218,255,0.5);
}

#service li.clearfix p {
    display: inline-block;
}

#service .my-azure-text {
    display: inline-block;
    transform: translateX(60px);
}

@media screen and (max-width: 480px) {

    #service p {
        font-size: 80%;
    }

    #service .my-azure-text {
        display: inline-block;
        transform: translateX(30px);
    }

}

/* Styling development-love */

#development-love {
    background-color: rgb(243,245,249);
}

#development-love h1 {
    margin: 100px 0 25px;
}

#development-love #dev-luv {
    width: calc((100% / 3) * 2);
    border-radius: 5px;
    box-shadow: 0 0 1px 0;
    margin: 50px 0 25px;
    padding: 5%;
    background-color: white;
    display: inline-block;
}

#development-love #dev-luv h3 {
    line-height: 1.5;
}

#development-love #dev-luv p {
    margin: 20px 0;
}
#development-love #dev-luv a {
    font-weight: bold;
}

#development-love #dev-luv img {
    width: 150px;
}

#development-love i.my-outer {
    font-size: 40px;
}

#development-love i.my-outer {
}

#development-love i.fa-angle-left.my-outer {
    transform: translate(-200%, -200%);
}

#development-love i.fa-angle-right.my-outer {
    transform: translate(200%, -200%);
}

#development-love i.fa-angle-right.my-outer:hover {
    color: rgb(22,117,255);
    text-decoration: none;
}

#development-love [class^="col"]:last-of-type {
    margin: 25px 0 100px;
}

@media screen and (max-width: 767px) {

    #development-love h1 {
        margin-top: 50px;
    }

    #development-love #dev-luv {
        width: 100%;
    }

    #development-love i.my-outer {
        display: none;
    }

    #development-love [class^="col"]:last-of-type {
        margin: 25px 0 50px;
    }

}

/* Styling get section */
